<h2>Your finished books:</h2>

<form action="/books" method="GET">
  <input type="submit" value="Recommended books">
</form>

<% @user.books.each do |book| %>
  <% if book.read? %>
    <h3><%= book.title %></h3>
    <h4><%= book.author %></h4>
    <p><%= book.genre %></p>
    <p>Recommended by <a href="/users/<%= book.recommender.slug %>"><%= book.recommender.username %></a></p>
    
    <span><form action="/books/<%= book.id %>/delete" method="POST">
      <input type="hidden" name="user_id" value="<%= @user.id %>">
      <input type="submit" value="Permanently delete">
    </form></span>

    <span><form action="/books/<%= book.id %>/unread" method="POST">
      <input type="hidden" name="user_id" value="<%= @user.id %>">
      <input type="submit" value="Mark as unread">
    </form></span>

  <% end %>
<% end %>

<br><br>

<form action="/logout" method="GET">
  <input type="submit" value="Log Out">
</form>