<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">BookRec</a>
      <ul class="nav navbar-nav">
        <li><a href="/books">Books<span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="/finished">Completed Books</a></li>
        <li><a href="/users">Users</a></li>
      </ul>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li id="login-button">
          <form action="/logout" method="GET">
            <input class="btn btn-default" type="submit" value="Log Out">
          </form>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<section class="center">
  <h2>Your finished books:</h2>
</section>

<% @user.books.each do |book| %>
  <% if book.read? %>
    <div class="center-books">
      <h3><%= book.title %></h3>
      <h4><%= book.author %></h4>
      <p><%= book.genre %></p>
      <p>Recommended by 
        <% if book.recommender %>
          <a href="/<%= book.recommender.slug %>"><%= book.recommender.username %></a>
        <% else %>
          inactive user
        <% end %>
      </p>
      
      <span><form action="/books/delete" method="POST">
        <input type="hidden" name="book_id" value="<%= book.id %>">
        <input type="hidden" name="user_id" value="<%= @user.id %>">
        <input type="submit" value="Permanently delete">
      </form></span>

      <span><form action="/books/<%= book.id %>/unread" method="POST">
        <input type="hidden" name="user_id" value="<%= @user.id %>">
        <input type="submit" value="Mark as unread">
      </form></span>
    </div>

  <% end %>
<% end %>

<br><br>
